{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.cart.Order.count == 0 %}
      <h1>! EMPTY CART</h1>
      <h2>Your cart is empty.</h2>
      <a href="{% url 'index' %}">Go back to the home page</a>
    {% else %}
    
<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
          <div>
            <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                  class="fas fa-angle-down mt-1"></i></a></p>
          </div>
        </div>
        {% for order in orders %}
        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img
                src="{{ order.Event.Image.url }}" alt="{{ order.Event.Name }}"
                  class="img-fluid rounded-3">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">{{ order.Event.Name }}</p>
                <p><span class="text-muted">Date: </span>{{ order.Event.Date }}</p>
                <p> <span class="text-muted">Adress: </span>{{ order.Event.Adresse }}</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <div class="quantity-info">
                  <p>{{ order.Quantity }} in cart</p>
                </div>
                <form method="POST" action="{% url 'update-quantity' order.id %}">
                  {% csrf_token %}
                  <button type="submit" name="action" value="reduce">-</button>
                  <button type="submit" name="action" value="increase">+</button>
                </form>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">${{ order.Event.Lowest_Price }}</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <form method="POST" action="{% url 'remove-from-cart' order.id %}">
                  {% csrf_token %}
                  <button type="submit"><img src="{% static 'icons/supprimer.png' %}" width="20px"></button>
                </form>
              </div>
              
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="card mb-4">
          <div class="card-body p-4 d-flex flex-row">
            <div class="form-outline flex-fill">
              <input type="text" id="form1" class="form-control form-control-lg" />
              <label class="form-label" for="form1">Discound code</label>
            </div>
            <button type="button" class="btn btn-outline-warning btn-lg ms-3">Apply</button>
          </div>
        </div>
        
        <div class="card">
          <div class="card-body">
          <a href="{% url 'delete-cart' %}" class="btn btn-warning btn-block btn-lg">
            <img src="{% static 'icons/supprimer.png' %}" width="20px"> Delete Cart</a>
            <a href="{% url 'checkout' %}"><button type="button" class="btn btn-warning btn-block btn-lg">Proceed to Pay</button></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}