{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="detail-card">
  <div class="content">
  <div class="img-card">
    {% if event.Image %}
      <img src="{{ event.Image.url }}" alt="{{ event.Name }}" width="1100px">
    {% endif %}
  </div>
    <div class="date-card">
      <h3>Date: {{ event.Date }}</h3>
    </div>
    <div class="description-card">
      <h2 class="desc">Description</h2>
      <p class="event-description">{{ event.Description|linebreaksbr }}</p>
    </div>
  </div>
  <div class="price-card">
    <h3>{{ event.Name }}</h3>
    <p class="event-description">{{ event.Description|linebreaksbr }}</p>
    <h3>Price : </h3>
    <h4 class="price"> Lowest Price : ______ {{ event.Lowest_Price }}$</h4>
    <h4 class="price">Highest Price : ______ {{ event.Highest_Price }}$</h4>
    {% if user.is_authenticated %}
    <p class="book">
      <a href="{% url 'add_to_cart' event.Slug %}">
        <img src="{% static 'icons/book.png' %}" width="20px" alt="Book">
        Book your place
      </a>
    </p>
    {% endif %}
  </div>
</div>
{% endblock %}
